<!DOCTYPE html>
<html lang="nl">
  <head>
    <% include head.ejs %>
  </head>
  <body>
    <% include header.ejs %>
    <% include spinner.ejs %>
    <ul class="sort"></ul>
    <ol class="list"></ol>

    <section class="standings-server">
      <% standings.forEach(function(standing) { %>
      <article>
        <h2><%= standing.position %></h2>
        <p> | </p>
        <p><%= standing.points %></p>
        <p><%= standing.Driver.givenName %> <%= standing.Driver.familyName %></p>
        <p><%= standing.Constructors[0].constructorId.replace(/_/g, ' ') %></p>
      </article>
      <% }) %>
    </section>

  </body>
</html>
